* {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.postimg.cc/QMR0PBVY/car-background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.wrapper {
  margin: 2rem auto;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 2rem;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#credit {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #00ffff;
  border: 1px solid #00ffff;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#credit:hover {
  background-color: rgba(0, 255, 255, 0.2);
}

.container {
  margin-top: 2rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
  font-weight: 700;
  margin-bottom: 1rem;
  color: #00ffff;
}

  /* Navigation styles */
  .nav {
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.nav .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('https://i.postimg.cc/Fz2hR18L/pavan-logo.png') no-repeat center/cover;
}

.nav h {
    margin: 0;
    font-size: 1.2rem;
    color: #666;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}


.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 2px solid #00ffff;
}

#billTotalInput {
  font-size: 1.5rem;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #00ffff;
  text-align: right;
  margin-left: 0.5rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.splitButton {
  background-color: #00ffff;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.splitButton:hover {
  background-color: #00cccc;
}

.total {
  font-size: 2.5rem;
  margin-top: 1rem;
  color: #00ff00;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: 90%;
  }
}
